/*....Guild: Wild Spirit*/

#umber li.row:nth-child(4) .hazel em {
    float: none;
    color: #666;
    font-size: 11px;
    margin-right: 10px
}

#umber li.row:nth-child(4) .hazel br {
    display: none
}

#umber li.row:nth-child(4) .cocoa,
#umber li.row:nth-child(4) .hazel {
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: -17px 0
}

#umber li.row:nth-child(4) .cocoa {
    float: right;
    width: 180px;
    background: #f2f2f2;
    margin: 100px 10px 0;
    min-height: 37px
}


/*....Guild: Dummy*/

#umber li.row:nth-child(5) .hazel em {
    float: none;
    color: #666;
    font-size: 11px;
    margin-right: 10px
}

#umber li.row:nth-child(5) .hazel br {
    display: none
}

#umber li.row:nth-child(5) .cocoa,
#umber li.row:nth-child(5) .hazel {
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: -17px 0
}

#umber li.row:nth-child(5) .cocoa {
    float: right;
    width: 180px;
    background: #f2f2f2;
    margin: 100px 10px 0;
    min-height: 37px
}
